</table>
</div>
</div>
<div class="tier-pricing">
    <div class="tier">
      <div class="tier-main-name">TIER 1</div>
      <div class="taster">
        <div class="tier-name">TASTER</div>
        <div class="tier-content">$2</div>
      </div>
      <div class="half-pint">
        <div class="tier-name">HALF PINT</div>
        <div class="tier-content">$3</div>
      </div>
      <div class="pint">
        <div class="tier-name">PINT</div>
        <div class="tier-content">$5</div>
      </div>
      <div class="crowler">
        <div class="tier-name">CROWLER</div>
        <div class="tier-content">$8</div>
      </div>
      <div class="growler">
        <div class="tier-name">GROWLER FILL</div>
        <div class="tier-content">$13</div>
      </div>
    </div>
    <div id="tier-2" class="tier">
      <div class="tier-main-name">TIER 2</div>
      <div class="taster">
        <div class="tier-name">TASTER</div>
        <div class="tier-content">$3</div>
      </div>
      <div class="half-pint">
        <div class="tier-name">HALF PINT</div>
        <div class="tier-content">$4</div>
      </div>
      <div class="pint">
        <div class="tier-name">PINT</div>
        <div class="tier-content">$6</div>
      </div>
      <div class="crowler">
        <div class="tier-name">CROWLER</div>
        <div class="tier-content">$10</div>
      </div>
      <div class="growler">
        <div class="tier-name">GROWLER FILL</div>
        <div class="tier-content">$16</div>
      </div>
    </div>
</div>

</body>
</html>
