<div class=beer>
<div class=logo-and-text>
<img class=beer-logo src=../uploads/beer/ENBW-Instagram.jpg alt =Dickerson Dunkel>
<div class=beer-text>
<div class=beer-name>Dickerson Dunkel</div>
<div class=beer-tagline>Munich Dunkel Lager</div>
</div>
</div>
<div class=abv-and-tier>
<div class=beer-abv>
<div class=abv-text>ABV</div>
<div class=abv-content>5.2%</div>
</div>
<div class=beer-tier>
<div class=beer-tier-text>TIER</div>
<div class=beer-tier-content>1</div>
</div>
</div>
</div>
<div class=beer>
<div class=logo-and-text>
<img class=beer-logo src=../uploads/beer/ENBW-Instagram.jpg alt =Trigo Azul>
<div class=beer-text>
<div class=beer-name>Trigo Azul</div>
<div class=beer-tagline>Blueberry Wheat</div>
</div>
</div>
<div class=abv-and-tier>
<div class=beer-abv>
<div class=abv-text>ABV</div>
<div class=abv-content>4.2%</div>
</div>
<div class=beer-tier>
<div class=beer-tier-text>TIER</div>
<div class=beer-tier-content>1</div>
</div>
</div>
</div>
<div class=beer>
<div class=logo-and-text>
<img class=beer-logo src=../uploads/beer/Beer-Icons-No-Text_Young-Hickory.png alt =Young Hickory>
<div class=beer-text>
<div class=beer-name>Young Hickory</div>
<div class=beer-tagline>Smoked Porter</div>
</div>
</div>
<div class=abv-and-tier>
<div class=beer-abv>
<div class=abv-text>ABV</div>
<div class=abv-content>4.5%</div>
</div>
<div class=beer-tier>
<div class=beer-tier-text>TIER</div>
<div class=beer-tier-content>1</div>
</div>
</div>
</div>
<div class=beer>
<div class=logo-and-text>
<img class=beer-logo src=../uploads/beer/ENBW-Instagram.jpg alt =Explorer's Icy Ale>
<div class=beer-text>
<div class=beer-name>Explorer's Icy Ale</div>
<div class=beer-tagline>Hoppy Blonde Ale</div>
</div>
</div>
<div class=abv-and-tier>
<div class=beer-abv>
<div class=abv-text>ABV</div>
<div class=abv-content>4.5%</div>
</div>
<div class=beer-tier>
<div class=beer-tier-text>TIER</div>
<div class=beer-tier-content>1</div>
</div>
</div>
</div>
<div class=beer>
<div class=logo-and-text>
<img class=beer-logo src=../uploads/beer/Fire-of-the-Century-No-Text.jpg alt =Fire of the Century>
<div class=beer-text>
<div class=beer-name>Fire of the Century</div>
<div class=beer-tagline>Red Ale</div>
</div>
</div>
<div class=abv-and-tier>
<div class=beer-abv>
<div class=abv-text>ABV</div>
<div class=abv-content>5.5%</div>
</div>
<div class=beer-tier>
<div class=beer-tier-text>TIER</div>
<div class=beer-tier-content>1</div>
</div>
</div>
</div>
<div class=beer>
<div class=logo-and-text>
<img class=beer-logo src=../uploads/beer/AugustFest-Blackberry.png alt =AugustFest>
<div class=beer-text>
<div class=beer-name>AugustFest</div>
<div class=beer-tagline>Blackberry Wheat</div>
</div>
</div>
<div class=abv-and-tier>
<div class=beer-abv>
<div class=abv-text>ABV</div>
<div class=abv-content>4.2%</div>
</div>
<div class=beer-tier>
<div class=beer-tier-text>TIER</div>
<div class=beer-tier-content>1</div>
</div>
</div>
</div>
<div class=beer>
<div class=logo-and-text>
<img class=beer-logo src=../uploads/beer/Wes-Coast.png alt =Wes Coast Hamatrillo>
<div class=beer-text>
<div class=beer-name>Wes Coast Hamatrillo</div>
<div class=beer-tagline>West Coast Style IPA</div>
</div>
</div>
<div class=abv-and-tier>
<div class=beer-abv>
<div class=abv-text>ABV</div>
<div class=abv-content>7.2%</div>
</div>
<div class=beer-tier>
<div class=beer-tier-text>TIER</div>
<div class=beer-tier-content>1</div>
</div>
</div>
</div>
<div class=beer>
<div class=logo-and-text>
<img class=beer-logo src=../uploads/beer/roamingdog-12d1e9d03bb9fbc96adffe53c62b2cfed1a86fa0ae29d66b36c981e44f52b3cb.svg alt =Roaming Dog>
<div class=beer-text>
<div class=beer-name>Roaming Dog</div>
<div class=beer-tagline>American Special Bitter</div>
</div>
</div>
<div class=abv-and-tier>
<div class=beer-abv>
<div class=abv-text>ABV</div>
<div class=abv-content>5.2%</div>
</div>
<div class=beer-tier>
<div class=beer-tier-text>TIER</div>
<div class=beer-tier-content>1</div>
</div>
</div>
</div>
<div class=beer>
<div class=logo-and-text>
<img class=beer-logo src=../uploads/beer/Kraut-Rock.png alt =KrautRock>
<div class=beer-text>
<div class=beer-name>KrautRock</div>
<div class=beer-tagline>Pale Ale</div>
</div>
</div>
<div class=abv-and-tier>
<div class=beer-abv>
<div class=abv-text>ABV</div>
<div class=abv-content>6%</div>
</div>
<div class=beer-tier>
<div class=beer-tier-text>TIER</div>
<div class=beer-tier-content>1</div>
</div>
</div>
</div>
<div class=beer>
<div class=logo-and-text>
<img class=beer-logo src=../uploads/beer/mysticDunkel_notext.png alt =mystic munich dunkel>
<div class=beer-text>
<div class=beer-name>mystic munich dunkel</div>
<div class=beer-tagline>dunkel lager</div>
</div>
</div>
<div class=abv-and-tier>
<div class=beer-abv>
<div class=abv-text>ABV</div>
<div class=abv-content>5.2%</div>
</div>
<div class=beer-tier>
<div class=beer-tier-text>TIER</div>
<div class=beer-tier-content>1</div>
</div>
</div>
</div>
<div class=beer>
<div class=logo-and-text>
<img class=beer-logo src=../uploads/beer/brutwillis-69cecce4bbe40a90c0b337491dc8773b57842d58d4857ae589903a3699a5350d.svg alt =Brut Willis>
<div class=beer-text>
<div class=beer-name>Brut Willis</div>
<div class=beer-tagline>Brut IPA</div>
</div>
</div>
<div class=abv-and-tier>
<div class=beer-abv>
<div class=abv-text>ABV</div>
<div class=abv-content>5.6%</div>
</div>
<div class=beer-tier>
<div class=beer-tier-text>TIER</div>
<div class=beer-tier-content>1</div>
</div>
</div>
</div>
<div class=beer>
<div class=logo-and-text>
<img class=beer-logo src=../uploads/beer/woodlandstreet-aa864616f0837f5a6ad5b266123a8f5074bc5c61c00cb47b5ef00218b5d428a7.svg alt =Woodland Street>
<div class=beer-text>
<div class=beer-name>Woodland Street</div>
<div class=beer-tagline>Session IPA</div>
</div>
</div>
<div class=abv-and-tier>
<div class=beer-abv>
<div class=abv-text>ABV</div>
<div class=abv-content>4.5%</div>
</div>
<div class=beer-tier>
<div class=beer-tier-text>TIER</div>
<div class=beer-tier-content>1</div>
</div>
</div>
</div>
<div class=beer>
<div class=logo-and-text>
<img class=beer-logo src=../uploads/beer/cumberlandpunch-4f2304ce4eff8f05bdfb8667f9815405126e261de7ceee5187406904be6de0b6.svg alt =Cumberland Punch>
<div class=beer-text>
<div class=beer-name>Cumberland Punch</div>
<div class=beer-tagline>American Wheat Ale</div>
</div>
</div>
<div class=abv-and-tier>
<div class=beer-abv>
<div class=abv-text>ABV</div>
<div class=abv-content>6.2%</div>
</div>
<div class=beer-tier>
<div class=beer-tier-text>TIER</div>
<div class=beer-tier-content>1</div>
</div>
</div>
</div>
<div class=beer>
<div class=logo-and-text>
<img class=beer-logo src=../uploads/beer/miromiel-b36e9f9e5617adedab1df3bcc92188d82da498a2dd132a6941bbd189c889218a.svg alt =Miro Miel>
<div class=beer-text>
<div class=beer-name>Miro Miel</div>
<div class=beer-tagline>Honey Blonde Ale</div>
</div>
</div>
<div class=abv-and-tier>
<div class=beer-abv>
<div class=abv-text>ABV</div>
<div class=abv-content>5.2%</div>
</div>
<div class=beer-tier>
<div class=beer-tier-text>TIER</div>
<div class=beer-tier-content>1</div>
</div>
</div>
</div>
