<div class=beer>
<div class=logo-and-text>
<img class=beer-logo src=../uploads/beer/Beer-Icons-No-Text_Goes-to-11.png alt =this is spinal Stout>
<div class=beer-text>
<div class=beer-name>this is spinal Stout</div>
<div class=beer-tagline>Russian Imperial Stout</div>
</div>
</div>
<div class=abv-and-tier>
<div class=beer-abv>
<div class=abv-text>ABV</div>
<div class=abv-content>10.0%</div>
</div>
<div class=beer-tier>
<div class=beer-tier-text>TIER</div>
<div class=beer-tier-content>2</div>
</div>
</div>
</div>
<div class=beer>
<div class=logo-and-text>
<img class=beer-logo src=../uploads/beer/coconutcremepie-23565de57a82dbd194101ef34db26da1cb2e6e8cfd7d2b8bb1ef5b76c453385a.svg alt =Coconut Cream Pie Ale>
<div class=beer-text>
<div class=beer-name>Coconut Cream Pie Ale</div>
<div class=beer-tagline>Coconut Ale</div>
</div>
</div>
<div class=abv-and-tier>
<div class=beer-abv>
<div class=abv-text>ABV</div>
<div class=abv-content>7.0%</div>
</div>
<div class=beer-tier>
<div class=beer-tier-text>TIER</div>
<div class=beer-tier-content>2</div>
</div>
</div>
</div>
<div class=beer>
<div class=logo-and-text>
<img class=beer-logo src=../uploads/beer/hipsterdanceparty-cdc835b98bfdba5625ed06ebf62314fbd433c3c70bc062464a4358468284f7d4.svg alt =Hipster Dance Party>
<div class=beer-text>
<div class=beer-name>Hipster Dance Party</div>
<div class=beer-tagline>Double IPA</div>
</div>
</div>
<div class=abv-and-tier>
<div class=beer-abv>
<div class=abv-text>ABV</div>
<div class=abv-content>8.5%</div>
</div>
<div class=beer-tier>
<div class=beer-tier-text>TIER</div>
<div class=beer-tier-content>2</div>
</div>
</div>
</div>
<div class=beer>
<div class=logo-and-text>
<img class=beer-logo src=../uploads/beer/The-Grievance.png alt =The Grievance>
<div class=beer-text>
<div class=beer-name>The Grievance</div>
<div class=beer-tagline>Milk Stout</div>
</div>
</div>
<div class=abv-and-tier>
<div class=beer-abv>
<div class=abv-text>ABV</div>
<div class=abv-content>5.5%</div>
</div>
<div class=beer-tier>
<div class=beer-tier-text>TIER</div>
<div class=beer-tier-content>2</div>
</div>
</div>
</div>
<div class=beer>
<div class=logo-and-text>
<img class=beer-logo src=../uploads/beer/eastWeisse_notext.png alt =East Meets Weisse>
<div class=beer-text>
<div class=beer-name>East Meets Weisse</div>
<div class=beer-tagline>Berliner Weisse</div>
</div>
</div>
<div class=abv-and-tier>
<div class=beer-abv>
<div class=abv-text>ABV</div>
<div class=abv-content>5.2%</div>
</div>
<div class=beer-tier>
<div class=beer-tier-text>TIER</div>
<div class=beer-tier-content>2</div>
</div>
</div>
</div>
<div class=beer>
<div class=logo-and-text>
<img class=beer-logo src=../uploads/beer/eastbank-1.svg alt =East Bank>
<div class=beer-text>
<div class=beer-name>East Bank</div>
<div class=beer-tagline>Citra IPA</div>
</div>
</div>
<div class=abv-and-tier>
<div class=beer-abv>
<div class=abv-text>ABV</div>
<div class=abv-content>7.0%</div>
</div>
<div class=beer-tier>
<div class=beer-tier-text>TIER</div>
<div class=beer-tier-content>2</div>
</div>
</div>
</div>
