<div id="wine-cider" class="beer">
	<img id=wine-cider class=wine-cider-img src=../uploads/beer/wine-cider.svg>
      <div id="wine-cider-list">
          <div class="wine-cider-child">
            <div class="guest-name">Cabernet Sauvignon $8</div>
            <div class="guest-name">Malbec $8</div>
            <div class="guest-name">Sauvignon Blanc $8</div>
            <div class="guest-name">Sparkling Ros‌&eacute; $9</div>
          </div>
          <div class="wine-cider-child">
            <div class="guest-name">Original Sin Cider $6</div>
            <div class="guest-name">Dry Ros‌&eacute; Cider $6</div>
            <div class="guest-name">Blackberry Cider $6</div>
            <div class="guest-name">Nitro Cold Brew Coffee $3</div>
          </div>
      </div>
    </div>
